:root {
  --primary-color: #fcfcf7;
  --secondary-color: #134172;
  --tertiary-color: #b73836;
  --sec-2-color: #fcaa32;
}
/* STYLES FOR THE WELCOME PAGE */
.about-page .top {
  display: flex;
  height: 58vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("../images/pagesTop.jpg");
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
}
@keyframes popIn {
  from {
    transform: translate3d(-20px, 30px, 0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.page-title-container {
  color: var(--secondary-color);
  font-size: 50px;
  font-weight: 500;
  width: 60vw;
  padding-top: 80px;
  animation: forwards 2.2s ease-in-out popIn;
}
.page-title-container span {
  color: var(--tertiary-color);
  font-size: 65px;
}
.navigation-section {
  display: flex;
  align-items: center;
  padding: 0px 40px;
  background-color: #f5f5f5;
  column-gap: 6px;
}
.navigation-section div {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.navigation-section img {
  width: 20px;
  /* height: 20px; */
}
.bottom,
.bottom-results {
  width: 90vw;
  margin: auto;
  margin-top: 50px;
}
/* .content-container {

} */
.content-image {
  float: left;
  width: 500px;
  margin: 0px 30px 15px 0px;
}
.bottom p {
  font-size: 19px;
  text-align: justify;
}

.purpose-welcome-container {
  display: flex;
  column-gap: 30px;
}
.purpose-welcome-container div {
  background-color: rgba(216, 216, 216, 0.217);
  box-shadow: 0px 2px 5px rgb(220, 220, 220);
  padding: 10px;
  border-radius: 3px;
}
.about-page h1 {
  color: var(--secondary-color);
}
@media (max-width: 880px) {
  .purpose-welcome-container {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 548px) {
  .content-image {
    width: 400px;
  }
  /* .content--image {
    width: 300px;
  } */
}
@media (max-width: 435px) {
  .content-image {
    width: 300px;
  }
  /* .content--image {
    width: 200px;
  } */
}
/* Styles for the results page */

.results-content-container {
  display: flex;
  margin-bottom: 10px;
  gap: 12px;
}
.results-image {
  width: 450px;
  width: 350px;
  border-radius: 10px;
}
.upper-text-results {
  color: var(--secondary-color);
  font-size: 30px;
  text-align: center;
}
.year-results-container {
  background-color: rgba(234, 234, 234, 0.422);
  padding: 5px 10px;
  margin-bottom: 13px;
  box-shadow: 1px 1px 5px #1341724e;
}
.mean-text {
  color: var(--tertiary-color);
  font-weight: 500;
}
.all-grades-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 6px;
}

.viewmore-container {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  padding: 0px 0px 35px 0px;
}
.view-more-icon {
  width: 25px;
}
.view-more-icon:active img,
.viewmore-container:active p {
  transform: scale(0.9);
}
.grades-container h1 {
  color: var(--primary-color);
  text-align: center;
  margin: 2px;
  font-weight: 500;
  font-size: 24px;
}
.grades-container p {
  color: var(--primary-color);
  margin: 2px;
}
.all-years-container {
  display: flex;
  flex-direction: column;
}
.grades-container {
  display: flex;
  flex-direction: column;
  padding: 5px 3px 5px 3px;
  background-color: var(--secondary-color);
}
.grades-container div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grades-container img {
  width: 28px;
  height: 28px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: green;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;

}
@media (max-width: 780px) {
  .results-image {
    width: 300px;
    height: 180px;
  }
  .upper-text-results {
    color: var(--secondary-color);
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .results-image {
    width: 250px;
    height: 230px;
  }
  .upper-text-results {
    color: var(--secondary-color);
    font-size: 15px;
    text-align: start;
  }
}

/* Styles for get started component */

.get-started {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
  align-items: center;
  gap: -3px;
}
.get-started p {
  color: var(--secondary-color);
  font-size: 36px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
}
.get-started button {
  background-color: #000000ec;
  border: 1.2px solid #fcaa32;
  box-shadow: 1px 1px 5px #919191;
  font-size: 20px;
  color: var(--sec-2-color);
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
}
.get-started button:hover {
  transform: scale(1.03);
  background-color: #000000;
}
.content--image {
  float: left;
  width: 400px;
  margin: 0px 30px 15px 0px;
}

.content--container p {
  font-size: 19px;
  text-align: justify;
}

.content--container p div {
  color: #134172;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: 20px 0px;
}
.content--container p div p {
  margin: 4px;
}
@media (max-width: 548px) {
  .content--image {
    width: 300px;
  }
}
@media (max-width: 435px) {
  .content--image {
    width: 340px;
  }
}

/* Styles for the Admin Page */

.admin-panel{
  width: 90vw;
  margin: auto;
  margin-top: 30px;
}

.results-inputs-container{
  background-color: #eeeeee;
  padding: 10px 15px;
  border-radius: 15px;
}
.input-results input{
  padding: 4px 5px;
  margin-right: 10px;
  margin-top: 10px;

  
}
.grades-inputs-container{
 display: grid;
 gap: 15px; 
 grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grades-inputs-container input{
  width: 78px;
}
.grades-inputs-container div{
  display: flex;
  gap: 12px;
}
@media (max-width:545px) {
  .grades-inputs-container{
    grid-template-columns: 1fr 1fr
   }
   .grades-inputs-container input{
     width: 65px;
   }
  
}


/* Styles for the Login and Register Page */

.login-register-page{
  padding-top: 100px;
  width: 90vw;
  margin: auto;
}
.login-section{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 20px;
}
.login-section section{
  display: flex;
  flex-direction: column;
  position: relative;
}
.google{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -30px;
  /* padding: 20px -30px; */
  border-bottom: 1.2px solid black;
}
.google img{
  width: 20px;
  height: 20px;
}
.login-illustration{
  width: 420px;
}
.login-section section input{
  border: none;
  box-shadow: 1px 1.3px 5px rgba(0, 0, 0, 0.267);
  width: 65vw;
  padding: 20px 45px;
  border-radius: 20px;
  font-size: 15px;
  margin-top: 10px;
 
}
.login-section section img{
  width: 25px;
  position: absolute;
  top: 45px;
  left: 10px;
}
.login-section section input:focus{
  outline: 1.2px solid #134172;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.267);
}


/* Styles for the Projects Page */

/* .bottom-projects{
  width: 90vw;
} */
.projects-image {
  float: left;
  width: 500px;
  height: 260px;
  margin: 0px 30px 15px 0px;
}
.upper-text-results{
  font-size: 19px;
  text-align: justify;
}

